<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title> {{job_type.type_name}}</title>
</head>
<body>
    <div>
        <a href='{% url 'home' %}'> <!--go back to homepage-->
            <h2>SeudoNet</h2>
        </a>  
    </div>
    <hr>
    <h3>{{job_type.type_name}}</h3>
    {% for job in jobs %}  <!--for loop tag-->
        <a href="{% url 'job_detail' job.id %}">  <!--id is primary key to each record-->
            <h3>{{job.title}}</h3>
        </a>
        <p> {{job.content | truncatewords:30}}</p>   <!--|: filter; just show 50 context-->
    {% empty %}  <!--if empty: -->
        <p>--no jobs available right now--</p>
    {% endfor %}
    <p>SeudoNet has {{jobs |length }} jobs available right now</p>
    <!-- {{jobs_count }}    same as {{jobs |length }} -->
</body>
</html>