{% extends 'base.html' %}

{% block title %}
    {{job_type.type_name}}
    <!-- job_type an obstance of class JobType in views.py -->
    <!-- type_name is attr of model JobType -->
{% endblock%} 

{% block content%}

    {% for job in jobs %}  
    <!--for loop tag-->
        <a href="{% url 'job_detail' job.id %}">  
            <!--id is primary key to each record-->
            <h3>{{job.title}}</h3>
        </a>
        <p> {{job.content | truncatewords_html:30}}</p>   
        <!--|: filter; just show 30 words-->
    {% empty %} 
     <!--if empty: -->
        <p>--no jobs available right now--</p>
    {% endfor %}
    <p>SeudoNet has {{jobs |length }} jobs available right now</p>
    <!-- {{jobs_count }}    same as {{jobs |length }} -->
{% endblock%}
